/*setup the variable font*/
@font-face {
    font-family: 'Magmatic VF';
    font-weight: 400 700;
    font-stretch: 50% 150%;
    src: url(../fonts/Magmatic-VF-Trial.woff2) format("woff2-variations");
}

@font-face {
    font-family: 'Quiosco VF';
    font-weight: 400 700;
    src: url(../fonts/Quiosco-VF-Roman-Trial.woff2) format("woff2-variations");
}

@font-face {
    font-family: 'Quiosco VF';
    font-weight: 400 700;
    font-style: italic;
    src: url(../fonts/Quiosco-VF-Italic-Trial.woff2) format("woff2-variations");
}

@font-face {
    font-family: 'OccupantOldstyle VF';
    font-weight: 200 700;
    src: url(../fonts/OccupantOldstyle-VF-Roman-Trial.woff2) format("woff2-variations");
}

@font-face {
    font-family: 'OccupantOldstyle VF';
    font-weight: 200 700;
    font-style: italic;
    src: url(../fonts/OccupantOldstyle-VF-Italic-Trial.woff2) format("woff2-variations");
}


@font-face {
    font-family: 'Pentameter VF';
    font-weight: 100 700;
    font-stretch: 75% 125%;
    font-style: oblique -16deg 0deg;
    src: url(../fonts/Pentameter-VF-Trial.woff2) format("woff2-variations");
}

:root{
  --wght: 270;

  --pad: 4rem;
  --pad-small: 1.2rem;
  --size-large: 3rem;
  --size-medium: 2rem;
  --size-base: 1.2rem;
  --size-small: 1rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
/*    font-variation-settings: 'wdth' var(--wdth), 'wght' var(--wght), 'slnt' var(--slnt);*/
    font-variation-settings: 'wght' var(--wght);
}

body{
/*    color: rgb(255 250 240);
    background: rgb(0 50 40);
*/
    background: rgb(255 250 240);
    color: rgb(0 50 40);
    font-family: 'OccupantOldstyle VF';
/*    font-family: 'Quiosco VF';*/
/*    font-family: 'Pentameter VF';*/
}


article{
    padding: var(--pad);
}
header{
    position: fixed;
    width: 40%;
}
main{
    margin-left: 50%;
    max-width: 36em;
}
section{
    background: white;
    margin: auto;
    width: 600px;
    padding: var(--pad);
    box-sizing: border-box;
}

/*em{
    font-style: normal;
} be careful of forced italics
when using a VF with slant axis */
h1, h2{
  font-size: var(--size-large);
  line-height: 1.0;
  font-weight: normal;
  margin-bottom: 5px;
}
h2{
    --wght: 500;

    font-size: var(--size-medium);
    margin: var(--pad) 0;
    margin-bottom: var(--pad-small);
}
h3{
    font-family: 'Magmatic VF';
    font-variation-settings: 'wdth' var(--wdth), 'wght' var(--wght), 'XHGT' var(--XGHT);
    --wdth: 110;
    --wght: 600;
    --XGHT: 0;
    margin-bottom: 2px;
    letter-spacing: 0.02em;
    font-size: calc( var(--size-base) * 1.1); 
}
p{
    font-size: var(--size-base); 
    line-height: 1.5;
    hyphens: auto;
    margin-bottom: 1em;
}
strong{
    --wght: 700;
}
figcaption{  
    margin-top: -70px;
    font-family: 'Magmatic VF';
    font-variation-settings: 'wdth' var(--wdth), 'wght' var(--wght), 'XHGT' var(--XGHT);
    --wdth: 120; 
    --wght: 400; 
    --XGHT: 1;
    letter-spacing: 0.05em;
    font-size: var(--size-small);
}
.transition{
    --wght: 200;
    margin-top: var(--pad);
    font-size: 400px;
    line-height: 1.0;
    transition: font-variation-settings 1s ease-in-out;
}
.transition:hover{
    --wght: 700;
}



/* ANIMATIONS */

@keyframes animateA{
  0%{
    font-variation-settings: 'wght' 200;
  }
  100%{
    font-variation-settings: 'wght' 700;
  }
}